
%h1= @plant.name
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th #
      %th Frame ID
      %th Temperature
      %th Cells
      %th 
      %th 
  %tbody
    - @frames.each_with_index do |f,i|
      %tr{class: setTempStatus(f.temperature)}
        %td= i+1
        %td= f.name
        %td= f.temperature
        %td
          %ul#cells
            - f.cells.each do |c|
              %li{class: c.status}
                %a{href: plant_frame_cell_url(c.frame.plant, c.frame, c)}= c.uid
        %td
        %td
          %a{href: plant_frame_url(f.plant, f)} view
        %td
          %a{href: plants_url(f.plant)} back
