#plants.show
  %h1.page-header
    %i.icon-sitemap
    = @plant.name
    %span.label{class: "label-#{setTempStatus(@plant.temperature)}"}
      %i.icon-dashboard
      = "#{formatNumber(@plant.temperature)}°C"

    = link_to plants_url, class: 'btn btn-link' do
      %i.icon-caret-left
      back to Plants

  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th #
        %th 
          %i.icon-th
          Frame
        %th 
          %i.icon-pause
          Cells
    %tbody
      - @frames.each_with_index do |f,i|
        %tr
          %td= i+1
          %td= link_to f.name, plant_frame_url(@plant,f)
          %td
            %ul#cells
              - avg = f.averate_cell_voltage
              - f.cells.asc(:uid).each do |c|
                %li
                  = link_to plant_frame_cell_url(@plant, f, c) do
                    %span.label{class: "label-#{setVoltStatus(avg, c.last_voltage)}"} #{c.uid}
