#plants.show
  %h1.page-header
    %i.icon-cogs
    = @plant.name
    = link_to plants_url, class: 'btn btn-link' do
      %i.icon-caret-left
      back to Plants

  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th #
        %th 
          %i.icon-th-large
          Frame
        %th 
          %i.icon-th
          Cells
    %tbody
      - @frames.each_with_index do |f,i|
        %tr
          %td= i+1
          %td= link_to f.name, plant_frame_url(f.plant,f)
          %td
            %ul#cells
              - f.cells.each do |c|
                %li
                  = link_to plant_frame_cell_url(c.frame.plant, c.frame, c) do
                    %span.label.label-info #{c.uid}
