#frames.frame
  %h1.page-header
    %i.icon-th-large
    Frame:     
    %span.badge{class: "badge-#{setTempStatus(@frame.temperature)}"}
      %i.icon-fire
      = formatNumber(@frame.temperature)

    = link_to plant_url(@frame.plant), class: 'btn btn-link' do
      %i.icon-caret-left
      back to #{@frame.plant.name}'s frames

  .row
    .span2
      %h4 Showing:
      %hr

      #choices
        - @frame.cells.each do |c|
          = link_to c.uid, plant_frame_cell_url(c.frame.plant, c.frame, c)

      %hr
      %button.btn.btn-success.btn-mini#btn-checkall
        %i.icon-ok
        Check All
    
    .span8
      .row
        %button.btn.btn-primary.btn-mini#btn-refresh.pull-right
          %i.icon-refresh
          Refresh Data
      .row
        #cells_flot{style: 'width:800px; height:400px', data: {'json-route' => get_cell_reports_plant_frame_url(@frame.plant, @frame)}}
    

    
