#frames.frame
  %h1.page-header
    %i.icon-th-large
    Frame:     
    %span.label{class: "badge-#{setTempStatus(@frame.temperature)}"}
      %i.icon-fire
      = formatNumber(@frame.temperature)

    = link_to plant_url(@frame.plant), class: 'btn btn-link' do
      %i.icon-caret-left
      back to #{@frame.plant.name}'s frames

  .row
    .span2.controls
      .group
        %h4 View Cell:
        %hr

        %ul#cells.index
          - @frame.cells.each do |c|
            %li
              = link_to plant_frame_cell_url(c.frame.plant, c.frame, c) do
                .label.label-info= formatNumber(c.uid)

      .group
        %h4 Show plots for:
        %hr

        #choices

        %button.btn.btn-success.btn-mini#btn-checkall
          %i.icon-ok
          Check All
    
    .span8.offset1.chart
      .row
        #cells_flot{style: 'width:800px; height:400px', data: {'json-route' => get_cell_reports_plant_frame_url(@frame.plant, @frame)}}
      .row
        %button.btn.btn-primary.btn-mini#btn-refresh.pull-right
          %i.icon-refresh
          Refresh Data
    

    
