#frames.frame
  %h1.page-header
    %i.icon-th
    Frame:     
    = link_to plant_url(@frame.plant), class: 'btn btn-link' do
      %i.icon-caret-left
      back to #{@frame.plant.name}'s frames

  .row
    .span2.controls
      .group
        %h4 View Cell:
        %hr

        %ul#cells.index
          - @frame.cells.each do |c|
            %li
              = link_to plant_frame_cell_url(c.frame.plant, c.frame, c) do
                %span.label{class: "label-#{setVoltStatus(c.frame.averate_cell_voltage, c.last_voltage)}"}
                  = "#{c.uid}"
                  |
                  %i.icon-bolt
                  = number_with_precision(c.last_voltage, :precision => 2)

      .group
        %h4 Show plots for:
        %hr

        #choices

        %button.btn.btn-success.btn-mini#btn-checkall
          %i.icon-ok
          Check All
    
    .span8.chart
      %h4 
      .row
        #cells_flot{style: 'width:800px; height:400px', data: {'json-route' => get_cell_reports_plant_frame_url(@frame.plant, @frame, {timeframe: 1})}}

    .span2
      %button.btn.btn-info{ data: { 'json-route' => get_cell_reports_plant_frame_url(@frame.plant, @frame, {timeframe: 0.5})}}
        %i.icon-time
        12 Hours 
      %button.btn.btn-info.active{ data: { 'json-route' => get_cell_reports_plant_frame_url(@frame.plant, @frame, {timeframe: 1})}}
        %i.icon-time
        24 Hours 
      %button.btn.btn-info{ data: { 'json-route' => get_cell_reports_plant_frame_url(@frame.plant, @frame, {timeframe: 7})}}
        %i.icon-time
        7 Days 
      %button.btn.btn-info{ data: { 'json-route' => get_cell_reports_plant_frame_url(@frame.plant, @frame, {timeframe: 14})}}
        %i.icon-time
        14 Days 
    

    
