#cells.cell
  %h1.page-header
    %i.icon-th
    Cell:
    = @cell.uid     
    = link_to plant_frame_url(@cell.frame.plant, @cell.frame), class: 'btn btn-link' do
      %i.icon-caret-left
      back to cell #{@cell.uid}'s frame

  .row
    .span5#reports.index
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th #
            %th 
              %i.icon-time
              Report Time
            %th 
              %i.icon-bolt
              Voltage
        %tbody
          - @cell.reports.each_with_index do |r,i|
            %tr
              %td= i
              %td= r.report_time.strftime('%a %b %d %l:%M:%S %P')
              %td= r.voltage
    
    .span6.offset1
      .row
        #cell_flot{style: 'width:600px; height:320px', data: {'json-route' => get_report_plant_frame_cell_url(@cell.frame.plant, @cell.frame, @cell)}}
      .row
        %button.btn.btn-primary.btn-mini#btn-refresh.pull-right
          %i.icon-refresh
          Refresh Data
