#cells.cell
  %h1.page-header
    %i.icon-pause
    = @cell.uid     
    = link_to plant_frame_url(@cell.frame.plant, @cell.frame), class: 'btn btn-link' do
      %i.icon-caret-left
      back to cell #{@cell.uid}'s frame
    %button.btn.btn-primary.btn-mini#btn-refresh.pull-right
      %i.icon-refresh
      Refresh Data

  .row
    .span4#reports.index
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th #
            %th 
              %i.icon-time
              Report Time
            %th 
              %i.icon-bolt
              Voltage
        %tbody
          - @reports.each_with_index do |r,i|
            %tr
              %td= i
              %td{ title: r.report_time.strftime('%a %b %d at %l:%M:%S %P')}= r.report_time.strftime('%l:%M %P (%m/%d/%y)')
              %td{ title: r.voltage}= truncate(r.voltage.to_s, length: 8)
    
    .span7.pull-right

      .row
        #cell_flot{style: 'width:540px; height:300px', data: {'json-route' => get_report_plant_frame_cell_url(@cell.frame.plant, @cell.frame, @cell)}}
      
